:root {
  color-scheme: dark;
  font-family: system-ui, sans-serif;
  background: #101823;
}

html,
body,
#application {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#application {
  display: block;
}
